html,
*,
body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

.container .Navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}

.container .Navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: yellow;
    font-size: 15px;
}

.container .primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .primary h2 {
    padding-top: 10px;
}

/* A */
#A {
    padding-top: 45px;
    padding-left: 10px;
}

#A h3 {
    color: yellow;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

#A .Tab {
    padding-left: 20px;
    padding-bottom: 10px;
}

#A .Tab1 {
    padding-left: 30px;
    padding-bottom: 10px;
    color: yellow;
}

#A .TabParagraf {
    padding-left: 50px;
    padding-bottom: 10px;
    color: white;
}

#A .ol {
    padding-left: 90px;
    padding-bottom: 10px;
    color: white;
}

/* B */
#B {
    padding-top: 45px;
    padding-left: 10px;
}

#B h3 {
    color: yellow;
    padding-left: 10px;
    padding-bottom: 10px;
}

#B .Tab {
    padding-left: 20px;
    padding-bottom: 10px;
}

#B .Tab1 {
    padding-left: 30px;
    padding-bottom: 10px;
    color: yellow;
}

#B .TabParagraf {
    padding-left: 50px;
    padding-bottom: 10px;
    color: white;
}

#B .ol {
    padding-left: 90px;
    padding-bottom: 10px;
    color: white;
}

#B .ol1 {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

/* C */
#C {
    padding-top: 45px;
    padding-left: 10px;
}

#C h3 {
    color: yellow;
    padding-left: 10px;
    padding-bottom: 10px;
}

#C .Tab {
    padding-left: 20px;
    padding-bottom: 10px;
}

#C .Tab1 {
    padding-left: 30px;
    padding-bottom: 10px;
    color: yellow;
}

#C .TabParagraf {
    padding-left: 50px;
    padding-bottom: 10px;
    color: white;
}

#C .ol {
    padding-left: 90px;
    padding-bottom: 10px;
    color: white;
}

#C .ol1 {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}




/* Media Query Phone */
@media only screen and (max-width: 600px) {
    .container .Navbar {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: yellow;
        justify-content: center;
        align-items: center;
    }

    .container .Navbar a {
        display: inline-block;
        text-decoration: none;
        color: black;
        padding: 7px 15px;
        background-color: yellow;
        font-size: 10px;
    }

    .container .primary h1 {
        font-size: 20px;
    }

    .container .primary h2 {
        font-size: 15px;
    }

    /* A */
    #A h3 {
        color: yellow;
        padding-left: 5px;
        padding-bottom: 5px;
        font-size: 12px;
    }

    #A .Tab {
        padding-left: 20px;
        padding-bottom: 5px;
        font-size: 10px;
    }

    #A .Tab1 {
        padding-left: 20px;
        padding-bottom: 5px;
        color: yellow;
        font-size: 12px;
    }

    #A .TabParagraf {
        padding-left: 30px;
        padding-bottom: 5px;
        color: white;
        font-size: 10px;
    }

    #A .ol {
        padding-left: 45px;
        padding-bottom: 5px;
        color: white;
        font-size: 10px;
    }

    /* B */
    #B h3 {
        color: yellow;
        padding-left: 5px;
        padding-bottom: 5px;
        font-size: 12px;
    }

    #B .Tab {
        padding-left: 20px;
        padding-bottom: 5px;
        font-size: 10px;
    }

    #B .Tab1 {
        padding-left: 20px;
        padding-bottom: 5px;
        color: yellow;
        font-size: 12px;
    }

    #B .TabParagraf {
        padding-left: 30px;
        padding-bottom: 5px;
        color: white;
        font-size: 10px;
    }

    #B .ol {
        padding-left: 45px;
        padding-bottom: 5px;
        color: white;
        font-size: 10px;
    }

    #B .ol1 {
        padding-left: 5px;
        padding-bottom: 5px;
        color: white;
        font-size: 10px;
    }

    /* C */
    #C h3 {
        color: yellow;
        padding-left: 5px;
        padding-bottom: 5px;
        font-size: 12px;
    }

    #C .Tab {
        padding-left: 20px;
        padding-bottom: 5px;
        font-size: 10px;
    }

    #C .Tab1 {
        padding-left: 20px;
        padding-bottom: 5px;
        color: yellow;
        font-size: 12px;
    }

    #C .TabParagraf {
        padding-left: 30px;
        padding-bottom: 5px;
        color: white;
        font-size: 10px;
    }

    #C .ol {
        padding-left: 45px;
        padding-bottom: 5px;
        color: white;
        font-size: 10px;
    }
}